#start {
  position: absolute;
  display: block;
  top: 45%;
  width: 22%;
  height: 9%;
  color: green;
  background-color: white;
  border: 2px solid green;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: bold; }

#start:focus {
  display: none; }

canvas {
  border: 1px solid #d3d3d3;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #686363a6;
  display: block;
  /* margin: auto; */
  /* transform: rotate(20deg) */ }

.rectangle__rotate {
  transform: rotate(20deg); }

.time-show {
  position: absolute;
  display: none;
  top: 20px;
  color: red;
  font-size: 30px;
  font-weight: 200; }

.real-time {
  display: flex;
  justify-content: center; }

.window {
  background-image: url(../../images/background.png);
  width: 100%;
  height: 600px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-content: center; }
